/* ====== Spielfeld ====== */

#gameWrapper {
    display: flex;
    justify-content: center;
    min-width: 908px;
}

#gameWrapper h1 {
    font-size: 1.8em;
    font-weight: initial;
    margin: 0px;
    padding: 5px;
    color: rgb(77, 77, 77);
}

#localGame,
#remoteGame {
    width: 384px;
    flex-shrink: 0;
}

#localGameField,
#remoteGameField {
    width: 384px;
    height: 544px;
}

#localGameField canvas,
#remoteGameField canvas {
    display: block;
}

#towerMenu,
#mobMenu {
    background-color: #aeaeae;
    padding: 5px;
}

/* ===== Stats ===== */

.gameStats {
    position: relative;
    overflow: hidden;
    height: 30px;
    background-color: red;
}

.gameLife,
.gameName {
    position: absolute;
    color: white;
    font-size: 1.5em; 
    line-height: 30px;
    text-shadow: 0px 1px 2px black;
}

.gameLife {
    padding: 0 10px;
}
.gameName {
    padding: 0 10px;
    right: 0;
}

.gameLifeBar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #65e305;
}

/* ===== Tower & Mobs ===== */

.tower,
.mob {
    position: relative;
    width: 32px;
    height: 32px;
    color: transparent;
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 5px;
}

.tower {
    background-image: url(../assets/towerSheet32.png);
}

.mob {
    background-image: url(../assets/mobSheet32-up.png);
}

.tower:before,
.mob:before {
    content: attr(data-price);
    position: absolute;
    color: white;
    text-shadow: 0px 1px 2px black;
    right: -4px;
    bottom: -10px;
}

.tower:focus {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.tower[data-type="0"] {background-position: -409px 0px;}
.tower[data-type="1"] {background-position: -103px 0px;}
.tower[data-type="3"] {background-position: -1px 0px;}
.tower[data-type="5"] {background-position: -443px 0px;}
.tower[data-type="7"] {background-position: -35px 0px;}
.tower[data-type="9"] {background-position: -376px 0px;}
.tower[data-type="11"] {background-position: -170px 0px;}

.mob[data-type="0"] {background-position: 32px -33px;}
.mob[data-type="1"] {background-position: 32px -66px;}
.mob[data-type="2"] {background-position: 32px -99px;}
.mob[data-type="3"] {background-position: 32px -132px;}
.mob[data-type="4"] {background-position: 32px -165px;}
.mob[data-type="5"] {background-position: 32px -198px;}
.mob[data-type="6"] {background-position: 32px -231px;}
.mob[data-type="7"] {background-position: 32px -264px;}
.mob[data-type="8"] {background-position: 27px -206px; background-size: 67px;}
.mob[data-type="9"] {background-position: 50px -237px; background-size: 59px;}
.mob[data-type="10"] {background-position: 50px -278px; background-size: 58px;}
.mob[data-type="11"] {background-position: 46px -429px; background-size: 44px;}

#towers,
#mobs {
    height: 90px;
}

/* ===== Tower Stats ===== */
#spacer {
    width: 140px;
    overflow: hidden;
    padding-top: 30px;
    flex-shrink: 0;
}

#towerStats {
    box-sizing: border-box;
    width: 140px;
    height: 544px;
    padding: 5px;
}
#towerStats h1 {
    padding: 0;
}

.tName {
    font-size: 1.5em;
    margin: 5px 0;
}
.tDesc {
    margin: 5px 0;
}

.tUpgrade {
    margin: 10px 0;
    background-image: url("../assets/upgradebg.png");
    text-align: center;
    width: 130px;
    height: 100px;
}
.tUpgrade.noUpgrade {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.tCurrentDiv {
    line-height: 20px;
    padding: 15px 0;
}
.tNextBtn {
    background-color: transparent;
    padding: 7px 0;
    margin: 0;
    border: 0;
    display: block;
    width: 100%;
    line-height: 17px;
}
.tSellBtn {
    display: block;
    width: 100%;
    margin: 10px 0;
}


/* ===== Menü ===== */
#menu {
    padding: 5px;
}

#menu button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

#cash {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 219, 77);
    text-shadow: 0px 1px 2px black;
}

#exitGame {
    background-color: #cf4747;
    border-color: #cf4747;
}